@import "../../css/colors.css";

.stop-all {
    width: 1.5rem;
    height: 1.5rem;
    user-select: none;
    cursor: pointer;
}

.stop-all:hover {
    background-color: $motion-light-transparent;
}

.stop-all.is-active {
    opacity: 1;
}
