@import "../../css/colors.css";

.green-flag {
    width: 1.5rem;
    height: 1.5rem;
    user-select: none;
    /* user-drag: none; */
    cursor: pointer;
}

.green-flag:hover {
    background-color: $motion-light-transparent;
}

.green-flag.is-active {
    background-color: $motion-transparent;
}
